/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-bottom:0;
  padding-bottom: 37%;
}

.intrinsic-container-16x9 iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height:100%;
}

/* .intrinsic-container-16x9.stacked {
   height: auto;
   padding-bottom:100%;
} */

@media screen and (max-width: 768px) {
    .intrinsic-container-16x9 {
	position:relative;
	height:initial;
	}
}